/* Artist details page */

.container {
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    align-content: start;
    grid-auto-flow: row;
}
  
@media screen and (min-width: 600px) {
    .related-artists {
        grid-row: 2;
    }
    @media (max-width: 899px) {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 900px) {
        .container {
            grid-template-rows: repeat(3, 1fr); /* create three columns... */
        }
        .top-albums, .top-tracks {
            grid-row: 1 span 2;
        }
        .top-tracks {
            grid-column: 3;
        }
    }
}